---
layout: home
---
<div class="center">
    {{content}}
</div>

<!-- <form action="" class="form" id="boardForm">

    <input type="text" name="board_name" placeholder="board name" class="tit" id="boardName">
     <br>       
    
    <input type="Submit" value="Submit">
</form> -->

<form action="" class="form">

    <input type="text" name="title" placeholder="title" class="tit">
     <br>       
    <!-- <input type="textarea" name="description" placeholder="description" class="desc"> -->
    <textarea name="description" placeholder="description" class="desc"></textarea>
    <input type="Submit" value="Submit">
</form>
